<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/test1", method="get"><!--default - get-->
        <input type="text" name ="id" placeholder="input id"><br>
        <input type="text" name ="pwd" placeholder="input pwd"><br>
        <input type="submit" value="인증"> 
        <!-- 컨트롤러 res.render로 연결 -->
    </form>
</body>
</html>