<script>
    function test() {
        // location.href="non_fetch";
        // fetch("/fetch01")
        /*
        const result = fetch("/getcount") //기본적으로 비동기로 동작
        console.log("result : ", result)
        result.then(res=> {
            console.log("res : ", res);
            return res.json();
        })
        .then(data => {
            console.log("data : ", data)
            document.getElementById("cnt").innerHTML = data.cnt;
        })
        */ 
        fetch("/getcount") //기본적으로 비동기로 동작
        .then(res=> res.json())
        .then(data => {
            console.log("data : ", data)
            document.getElementById("cnt").innerHTML = data.cnt;
        }) 
    }

    // const test2 = async ()=> {}
    async function test2(){
        const result = await fetch("/getcount")
        console.log("result : " , result)
        const data = await result.json()
        console.log("data : " , data)
        document.getElementById("cnt").innerHTML = data.cnt;
    }
</script>
<h1>일</h1><h1>일</h1><h1>일</h1><h1>일</h1><h1>일</h1><h1>일</h1><h1>일</h1>
<button onclick="test()">클릭</button>
<button onclick="test2()">클릭2</button>
<span id="cnt"><%= count %></span>