<form action="modify" method="post">
    id : <input type="text" readonly name ="id" value="<%=member.ID%>"><br>
    pwd : <input type="text"  name ="pwd" value="<%=member.PWD%>"><br>
    name : <input type="text"  name ="name" value="<%=member.NAME%>"><br>
    addr : <input type="text"  name ="addr" value="<%=member.ADDR%>"><br>
    <input type="submit" value="수정"><br>
</form>