<form action="/member/register" method="post">
    <input type="text" name="id" placeholder="input id"><br>
    <input type="text" name="pwd" placeholder="input password"><br>
    <input type="text" name="name" placeholder="input name"><br>
    <input type="text" name="addr" placeholder="input Address"><br>
    <input type="submit" value="회원가입"><br>
</form>