<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>index.ejs</h1>
    <!-- html 문법을 똑같이 사용할 수 있음-->
    <div style="background-color: red;">안녕</div>
</body>
</html>