
<script src="/static/js/image_read.js"></script>

<form action="/file/upload" method="post"
                            enctype="multipart/form-data"><!--파일을 보내는 형식이다-->
    <input type="text" name="title"><br>
    <img id="img" src="" width="100px" height="100px">
    <input type="file" name="file_name" onchange="readURL(this)"><br>
    <input type="submit" value="전송">
</form>
<hr>
<a href="/file/list">목록 확인</a>