
<font size="4"><a href="/">HOME</a></font>

<% if (sessionValue.uId) {%>
    <font size="4"><a href="/member/logout">로그아웃</a></font>

<%}else{%>
    <font size="4"><a href="/member/login">로그인</a></font>

<%}%>
<hr>
    


