<%- include("../default/header", {isLogin})%>

<form action="/member/register" method="post">
    <input type="text" name="regid" placeholder="input id"><br>
    <input type="text" name="regpwd" placeholder="input password"><br>
    <input type="text" name="name" placeholder="input name"><br>
    <input type="text" name="addr" placeholder="input address"><br>
    <input type="submit" value="register">
</form>