<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        const opt = "width=300, height= 200, top=500, left= 500";
        window.open("/cookie/popup", "", opt)
    </script>
</head>
<body>
    쿠키 페이지 연동
    cookie : <%= userCookie %>
</body>
</html>