<h3> 기본 페이지</h3>
<% console.log("cookie : , userCookie") %>
<% if(userCookie == undefined) {%>
    <script>
        const opt = "width=300, height= 200, top=500, left= 500";
        window.open("/cookie/popup02", "", opt)
    </script>
<%}else {%>
    <h1>쿠키가 있습니다</h1>
    <%}%>
