<script>

</script>

<form action="/file/upload" method="post" enctype="multipart/form-data">
    <input type="text" name="title"><br>
    <img src="" width="100px" height="100px"><br>
    <input type="file" name="file_name"><br>
    <input type="submit" value="전송">
</form>
<hr>
<a href="/file/file_list">목록 보기</a>