<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>개 인 정 보</h3>
    <b>아이디 : </b> <%= member.id %><br>
    <b>이름 : </b> <%= member.name %> <br>
    <b>주소 : </b> <%= member.addr %> <br>
    <hr>
    <a href="/member/list">목록 이동</a>
</body>
</html>